<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp Manager</title>
    <script src="https://kit.fontawesome.com/008dc3c607.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body class="hero-anime">

<!-- Top navigation bar -->
<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand navbar-logo" href="/bootcamps">Bootcamp Manager</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                <a class="nav-link" href="/bootcamps">Bootcamps</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="/courses">Courses</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="/users">Users</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="/groups">Groups</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-circle-user"></i></a>
                                <div class="dropdown-menu">
                                    <!--<a class="dropdown-item" href="/profile">My profile</a>-->
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="section full-height">
    <div class="section" style="padding-top: 80px">
        <div class="container">

            <div>
                <!-- Add here actual bootcamp's name -->
                <h2>Bootcamp <a th:text="${bootcamp.name}"></a> </h2>
            </div>



            <div>
                <!-- Back button -->
                <a th:href = "@{/bootcamps}" class="btn btn-warning"> Back </a>
                <!-- Edit button -->
                <a th:href = "@{/link-student/{id}(id=${bootcamp.id})}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add student</a>
            </div>


             Table
                        <div>
                            <table border="1" class="table table-striped table-responsive-md">
                                <!-- Table header -->
                                <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Student </th>
                                    <th> Student email </th>
                                    <th> Actions </th>
                                </tr>
                                </thead>
                                <!-- Table rows -->
                                <tbody>
                                <tr th:each="student : ${bootcamp.getStudents()}">
                                    <td th:text="${bootcamp.getStudents().indexOf(student)+1}"></td>
                                    <td th:text="${student.getFirstName()} + ${student.getLastName()}"></td>
                                    <td th:text="${student.getEmail()}"></td>
                                    <td>
<!--                                        &lt;!&ndash; Open user page button (hardcoded link - it opens not particular bootcamp's page for now) &ndash;&gt;-->
<!--                                        <a th:href="@{/student/{id}(id=${student.id})}" class="btn btn-warning">Open</a>-->
<!--                                        &lt;!&ndash; Edit button &ndash;&gt;-->
<!--                                        <a th:href="@{/update-user/{id}(id=${bootcamp.id})}" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>-->
                                        <!-- Delete button -->
                                        <a th:href="@{/unlink-student/{id}(id=${student.id})}" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

        </div>
    </div>
</div>
</body>
</html>