<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp Manager</title>
    <script src="https://kit.fontawesome.com/008dc3c607.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body class="hero-anime">

<!-- Top navigation bar -->
<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand navbar-logo" href="/bootcamps">Bootcamp Manager</a>



                </nav>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="section full-height">
    <div class="section" style="padding-top: 80px">
        <div class="container">

            <!-- Title -->
            <div>
                <h2> Edit password </h2>
            </div>

            <br/>

            <!-- Back button -->
            <div>
                <a class="btn btn-warning" th:href="@{/profile}" role="button"> Back </a>
            </div>

            <br/>

            <!-- User update form -->
            <div>
                <form action="#" th:action="@{/save-profile-password}" th:object="${dataContainer}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{role}"/>

                    <a> New Password </a>
                    <input type="text" th:field="*{newPassword}" class="form-control mb-4 col-4">


                    <button type="submit" class="btn btn-info col-2"> Update </button>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>