<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp Manager</title>
    <script src="https://kit.fontawesome.com/008dc3c607.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body class="hero-anime">

<!-- Top navigation bar -->
<div class="navigation-wrap bg-light-lecturer start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand navbar-logo" href="/students">Bootcamp Manager</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                <a class="nav-link" href="/students">Students</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" th:href="@{/lecturer-tasks/{id}(id=${thisLecturer.id})}">Tasks</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true" aria-expanded="false"><i
                                        class="fa-solid fa-circle-user"></i></a>
                                <div class="dropdown-menu dropdown-menu-lecturer">
                                    <a class="dropdown-item dropdown-item-lecturer" href="/profile">My profile</a>
                                    <a class="dropdown-item dropdown-item-lecturer" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="section full-height">
    <div class="section" style="padding-top: 80px">
        <div class="container">

            <div class="btn-group">
                <button id="active-s" onclick="showLecturerBootcampStudents()" type="button" class="btn custom-tab custom-tab-active"> Students </button>
                <button id="active-b" onclick="showLecturerBootcamps()" type="button" class="btn custom-tab"> Bootcamps </button>
                <a th:href="@{/new-lecturer-task}" class="btn btn-success"><i class="fa-solid fa-plus"></i> Add Task</a>
            </div>
            <br/><br/>

            <!-- Students content -->
            <div th:id="students">
                <div>
                    <h2> My students </h2>
                </div>
                <br/>

                <!-- Table -->
                <div>
                    <table border="1" class="table table-striped table-responsive-md">
                        <!-- Table header -->
                        <thead>
                        <tr>
                            <th> #</th>

                            <th> First name </th>
                            <th> Last name </th>
                            <th> Email </th>
                            <th> Bootcamp </th>
                            <th> Actions </th>
                        </tr>
                        </thead>
                        <!-- Table rows -->
                        <tbody>
                        <tr th:each="student : ${studentsList}">
                            <td th:text="${studentsList.indexOf(student)+1}"></td>

                            <td th:text="${student.getFirstName()}"></td>

                            <td th:text="${student.getLastName()}"></td>
                            <td th:text="${student.getEmail()}"></td>
                            <td th:text="${student.getBootcamp().getName()}"></td>

                            <td>
                                <!-- Open student page button  -->
                                <a th:href="@{/info-student/{id}(id=${student.id})}" class="btn btn-warning">Open</a>

                                <a th:href="@{/update-student/{id}(id=${student.id})}" class="btn btn-primary"><i
                                        class="fa-solid fa-pencil"></i></a>
                                <!-- Delete button -->
                                <!--                            <a th:href="@{/delete-student/{id}(id=${student.id})}" class="btn btn-danger"><i-->
                                <!--                                    class="fa-solid fa-trash-can"></i></a>-->

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Bootcamps content -->
            <div th:id="bootcamps" style="display: none">
                <div>
                    <h2> My bootcamps </h2>
                </div>
                <br/>

                <!-- Table -->
                <div>
                    <table border="1" class="table table-striped table-responsive-md">
                        <!-- Table header -->
                        <thead>
                        <tr>
                            <th> #</th>
                            <th> Title</th>
                            <th> Start Date</th>
                            <th> End Date</th>
                            <th> Number of students </th>
                        </tr>
                        </thead>
                        <!-- Table rows -->
                        <tbody>
                        <tr th:each="bootcamp : ${bootcampsList}">
                            <td th:text="${bootcampsList.indexOf(bootcamp)+1}"></td>
                            <td th:text="${bootcamp.getName()}"></td>
                            <td th:text="${bootcamp.getDateFrom().toGMTString()}"></td>
                            <td th:text="${bootcamp.getDateTo().toGMTString()}"></td>
                            <td th:text="${bootcamp.getStudents().size()}"></td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>