<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bootcamp Manager</title>
    <script src="https://kit.fontawesome.com/008dc3c607.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body class="hero-anime">

<!-- Top navigation bar -->
<!-- NEED TO ADD CUSTOM CSS FOR ADMIN AND LECTURER -->
<div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand navbar-logo" href="/bootcamps" sec:authorize="hasRole('ADMIN')">Bootcamp Manager</a>
                    <a class="navbar-brand navbar-logo" href="/students" sec:authorize="hasRole('LECTURER')">Bootcamp Manager</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" sec:authorize="hasRole('ADMIN')">
                                <a class="nav-link" href="/bootcamps">Bootcamps</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" sec:authorize="hasRole('ADMIN')">
                                <a class="nav-link" href="/users">Users</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4" sec:authorize="hasRole('LECTURER')">
                                <a class="nav-link" href="/students">Students</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active" sec:authorize="hasAnyRole('ADMIN', 'LECTURER')">
                                <a class="nav-link" href="/tasks">Tasks</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-circle-user"></i></a>
                                <!-- NEED TO ADD CUSTOM CSS FOR ADMIN AND LECTURER -->
                                <div class="dropdown-menu">
                                    <!-- NEED TO ADD CUSTOM CSS FOR ADMIN AND LECTURER -->
                                    <a class="dropdown-item" href="/profile">My profile</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="section full-height">
    <div class="section" style="padding-top: 80px">
        <div class="container">

            <div>
                <h2>Task</h2>
            </div>

            <br/>

            <div>
                <!-- Back button -->
                <a th:href = "@{/tasks}" class="btn btn-warning"> Back </a>

                <!-- Mark as completed button -->
                <!--<button type="button" class="btn btn-success"> Mark as completed </button>-->
                <!--<form action="#" th:action="@{/save-task}" th:object="${task}" method="POST">
                    <input type="checkbox" th:checked="${task.isCompleted() ? false : true}"/>
                    <button type="submit" class="btn btn-info col-2"> Save </button>
                </form>-->

                <!-- Edit button for ADMIN and LECTURER-->
                <!--<a th:href="@{/update-task/{id}(id=${task.id})}" class="btn btn-primary" sec:authorize="hasAnyRole('ADMIN', 'LECTURER')"><i class="fa-solid fa-pencil"></i></a>-->

                <!-- Delete button for ADMIN and LECTURER -->
                <!--<a th:href="@{/delete-task/{id}(id=${task.id})}" class="btn btn-danger" sec:authorize="hasAnyRole('ADMIN', 'LECTURER')"><i class="fa-solid fa-trash-can"></i></a>-->
            </div>

            <br/>

            <!-- Table -->
            <div th:object="${task}">
                <table border="1" class="table table-striped table-responsive-md">
                    <!-- Table rows -->
                    <tbody>
                        <tr>
                            <td class="font-weight-bold"> Task </td>
                            <td th:text="${task.name}"></td>
                        </tr>

                        <tr>
                            <td class="font-weight-bold"> Description </td>
                            <!-- Show description if it exists -->
                            <td th:if="${task.description != ''}" th:text="${task.description}"></td>
                            <!-- Show - if it does not exist -->
                            <td th:unless="${task.description != ''}"> - </td>
                        </tr>

                        <tr>
                            <td class="font-weight-bold"> Deadline </td>
                            <!-- Show deadline date if it exists -->
                            <td th:if="${task.description != ''}" th:text="${#dates.format(task.deadline, 'yyyy-MM-dd')}"></td>
                            <!-- Show - if it does not exist -->
                            <td th:unless="${task.description != ''}"> - </td>
                        </tr>

                        <tr>
                            <td class="font-weight-bold"> Link </td>
                            <!-- Show link button if it exists -->
                            <td th:if="${task.linkURL != ''}">
                                <a th:href="@{${task.linkURL}}" target="_blank" rel="noopener noreferrer" class="btn btn-warning"> Open </a>

                            </td>
                            <!-- Show - if it does not exist -->
                            <td th:unless="${task.linkURL != ''}"> - </td>

                        </tr>

                        <tr>
                            <td class="font-weight-bold"> File </td>
                            <!-- Show download button if file exists -->
                            <td th:if="${task.fileDB != null}">
                                <a th:href="@{'/task/' + ${task.getId()} + '/file/' + ${task.getFileDB().getId()}}"
                                   class="btn btn-warning"><i class="fa-solid fa-download"></i> Download </a>
                            </td>
                            <!-- Show - if it does not exist -->
                            <td th:unless="${task.fileDB != null}"> - </td>

                            <!--<td th:if="${task.getFileDB() == null}">
                                &lt;!&ndash; Download file &ndash;&gt;
                                <a th:text="'file not uploaded'"></a>

                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>